html{
    background-color: rgb(12, 11, 11);
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/venera.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0%;

}

.text{
    height: auto;
    width: auto;
    align-items: center;
    color: aliceblue;
    display: flex;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 150%;
    line-height: 30px;

}

.head{
    background-color: rgb(116, 111, 47);
    text-align: center;
    padding: -5px;
    margin: 5px;
    border: 5px solid rgb(196, 172, 128);
    border-radius: 30px;
    color: rgb(255, 246, 246);
    font-size: 20px;
    opacity: 1;
    box-shadow: 4px 4px 8px rgb(152, 163, 102);

}

.table{
    background-color: rgb(32, 27, 27);
    text-align: center;

}

.table li{
    display:inline-block;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
    border: 2px solid rgb(12, 12, 12);;

}

.table li a{
    color: rgb(17, 17, 17);
}

a{
    text-decoration: none;
    line-height: 20px; 
    display: block;
    padding: 5px 15px;
    font-size:150%;
}

footer a{
    color: aliceblue;
    font-size: 5px;
    margin-left: 1000px;
}

.parametrs{
    text-align: left;
    color: aliceblue;
    border: 5px solid rgb(196, 172, 128);
    border-radius: 30px;
    backdrop-filter: 30px;
    box-shadow: 5px 5px 5px rgb(216, 198, 37);
    
}

.zaglavie{
    text-align: left;
    margin-left: 20px;
}

.a1 a{
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: rgb(253, 253, 250);
    width: 100px;
    border-radius: 30px;
    border: 3px solid rgb(12, 12, 12);
}

.images{
    background-color: black;
    text-align: left;
    border-radius: 50px;
}
.foto1{
    color: aliceblue;
}
.foto2{
    color: aliceblue;
}
.foto3{
    color: aliceblue;
}
.foto4{
    color: aliceblue;
}
.foto5{
    color: aliceblue;
}
.foto6{
    color: aliceblue; 
}

footer{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    position: relative;
    height: 150px;
    bottom: 150px;
    top: 100px;
    
}

